@model ProjectName.Models.Item

<div class="container">
  <h3>Add a new Item</h3>
  <div id="table">
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name, new { required = "required" })
      <input type="submit" value="Add new Item" class="btn btn-success" />
    }
  </div>
  <p>@Html.ActionLink("Show all items", "Index")</p>
</div>